@font-face {
    font-family: 'SWCC-Medium';
    src: url('https://cdn.jsdelivr.net/gh/julianogharzeddine/CustomFiles@main/SWCC-3-Medium.otf') format('opentype');
    /* Adjust the path and font format */
}

* {
    font-family: 'SWCC-Medium' !important;
}

/*General variables*/

:root {
    --primary-color: #7c1424;
    --secondary-color: #08244c;
    --card-title-color: #7c1424;
    --navbar-font-size: 16px;
    --secondarydark-bg-color: #08244c;
    --primary-bg-color : #edf0f4;
    --border-bottom-header-color: #EAECF0;
    --card-bg-color: white;
    --card-border-radius: 16px;
    --card-header-height: 60px;
    --card-header-size : 24px;
    --card-border-input-color: #D0D5DD;
    --card-height: 60;
    --input-border-radius: 8px;
    --input-height: 36px;
    --input-font-size: 14px;
    --icon-size: 25px;
    --icon-special-input-size: 20px;
    --button-border-radius: 8px;
    --button-font-size: 14px;
    --button-width: 120px;
    --button-height: 45px;
    --button-icon-size: 20px;
    --loading-color : #dfdfdf;
    --table-header-background-color: #08244c;
    /* Icons url*/
    --file--icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/file.png");
    --download-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/download.png");
    --trash-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/trash-can.png");
    --send-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/send-icon.png");
    --file-resize-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/file_resize.png");
    --plus-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/plus_icon.png");
    --user-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/user.svg");
    --employeeNumber-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/EmployeeNumber.svg");
    --department-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/Department.svg");
    --job-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/Job.svg");
    --search-icon: url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/Search.svg");
    --calendar-icon : url("https://cdn.jsdelivr.net/gh/Nourjawhari/SWCC_Icons@main/calendar.png");
}


/* HEADER  STYLING */

div[name*="Navbar"] {
    position: fixed !important;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 100;
    overflow: visible;
}

div[name*="Navbar"] * {
    background-color: var(--secondary-color);
}

[name="UserName"] {
    color: var(--card-title-color);
}


/* Form Boundaries */

.runtime-form {
    position: absolute !important;
    top: 150px;
    left: 15%;
    width: 70% !important;
}

/* Form styling*/
.theme-entry .form {
    background: var(--primary-bg-color) !important;
}

/*Card Styling*/

div[name*="Card"]{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: white !important;
    border-radius: var(--card-border-radius) !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);

}


/*Card header Styling*/

div[name*="Card"] .panel-header-text,
div[name*="Card"] .grid-header-text{
    border-bottom: 1px solid var(--border-bottom-header-color);
    font-size: var(--card-header-size) !important;
    color: var(--card-title-color) !important;
    height: 100% !important;
}

div[name*="Card"] .panel-header-text span,
div[name*="Card"] .grid-header-text span{
    height: 100%;
    display: flex !important;
    align-items: center;
    padding-top: 5px;
}

div[name*="Card"] .panel-header,
div[name*="Card"] .grid-header{
    height: var(--card-header-height) !important;
}

div[name*="Card"] .panel-header-wrapper,
div[name*="Card"] .grid-header-wrapper{
    height: 100% !important;
}

div[name*="Card"] .panel-header-c,
div[name*="Card"] .grid-header-c{
    height: 100% !important;
}

div[name*="Card"] .panel-body-wrapper,
div[name*="Card"] .grid-body-wrapper{
    background: var(--card-bg-color) !important;
}

div[name*="Card"] .panel-header,
div[name*="Card"] .grid-header{
    background: var(--primary-bg-color) !important;
}

div[name*="Card"] .panel-header-wrapper,
div[name*="Card"] .grid-header-wrapper{
    background: var(--card-bg-color) !important;
}

/* Label, input, textarea and inputLabelContainer Styling*/
/* labelInputSpecialContainer is a k2 control has icon */

span[name*= "labelInputContainer"] textarea {
    font-size: var(--input-font-size) !important;
    padding: 10px!important;
}

span[name*= "labelInputContainer"],
span[name*= "labelInputSpecialContainer"],
span[name*= "ChoicesInput"]{
    margin-top: 10px !important;
}

/* Label styling */
span[name*= "labelInputContainer"] > span,
span[name*= "labelInputSpecialContainer"] > span,
span[name*= "ChoicesInput"] > span{
    font-size: var(--input-font-size) !important;
    font-weight: bold;
    color: var(--secondary-color) !important;
    margin-bottom: 4px !important;
}

span[name*= "labelInputSpecialContainer"] .input-control-wrapper .editable-area.input-control.styling-font.read-only {
    display: flex;
    align-items: center;
    height: 100% !important;
}

/* span[name*= "labelInputSpecialContainer"] span.entity {
    display: flex;
    align-items: center;
} */

span[name*= "labelInputContainer"] input,
span[name*= "labelInputContainer"] .input-control-m-c{
    border-radius: var(--input-border-radius) !important;
    border: 1px solid var(--card-border-input-color) !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
} 

span[name*= "labelInputContainer"] input,
span[name*= "labelInputSpecialContainer"] input,
span[name*= "labelInputContainer"] .input-control-m-c{
    font-size: var(--input-font-size) !important;
} 

span[name*= "labelInputContainer"] .input-control-m-c {
    padding: 0px !important;
}

span[name*= "labelInputContainer"] .input-control-m-c .editable-area.input-control.styling-font {
    height: 100% !important;
}

/* span[name*= "labelInputSpecialContainer"] .input-control-buttons a:hover {
    background: transparent !important;
} */

/* Tabs Styling */

.basicForm ul.tab-box-tabs {
    padding: 0px !important;
    width: 100% !important;
    position: fixed !important;
    top: 110px;
    right: 0;
    box-sizing: border-box;
    z-index: 100 !important;
    outline: 1px solid #cccccc !important;
    background: white;
   
    
}
.basicForm ul.tab-box-tabs li:has(.selected) {
       border-bottom: 2px solid var(--card-title-color);
}  
.basicForm ul.tab-box-tabs li {
   padding: 7px !important;
    margin-left: 15px !important;
}

.basicForm ul.tab-box-tabs .selected {
    background: transparent !important;
}

.basicForm ul.tab-box-tabs a.selected  span {
    color: var(--card-title-color) !important;

}

.basicForm ul.tab-box-tabs li a span {
    background: transparent !important;
    font-size: var(--navbar-font-size);
}

/* Delete the line-break in the select recipient card*/
.basicForm .line-break.clearFloatFix {
    display: none !important;
}

span[name*= "BtnStyleContainer"] a,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled.designtime,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled.preview,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:hover,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:hover:focus,
.theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:focus{
    background-color: var(--primary-color) !important;
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    border: 1px solid var(--primary-color) !important;
    height: 30px;
}

span[name*= "addStyleContainer"] a:hover {
    filter: grayscale(-20%);
}


span[name*= "labelInputContainer"] input,
[name*= "FileNameAttachmentInput"]{
    height: var(--input-height) !important;
}
/*Label, input and inputLabelContainer for search, Date Piker , clock input Styling */

span[name*= "labelInputSpecialContainer"] .input-control-m-c{
    height: var(--input-height) !important;
    border: none !important; 
    border-radius: var(--input-border-radius) !important;
    display: flex;
    align-items: center;
}

span[name*= "labelInputSpecialContainer"] .input-control-buttons{
    border: none !important;
    border-radius: 8px !important;
}

span[name*= "labelInputSpecialContainer"] > div {
    border: 1px solid var(--card-border-input-color) !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    padding: 0px 10px;
}

span[name*= "labelInputSearchContainer"] .input-control-buttons.styling-right.styling-inner-wrapper {
    padding-top: 10px !important;
} 

/* Change and style the calender icon*/
span[name*= "labelInputCalenderContainer"] .input-control-buttons a{
    content: var(--calendar-icon);
    width: var(--icon-special-input-size) !important;
    height: var(--icon-special-input-size) !important; 
    margin: 0px 10px;
    padding: 0px !important;
}

/* ------LIST VIEW WITH SPECIAL INPUT LIKE PICKER< CALENDER-------*/
/*Search and input in the list view styling*/

input[name*= "ListViewInputControl"]{
    display: flex !important;
    align-items: center;
    border: 1px solid var(--card-border-input-color) !important;
    border-radius: 6px !important;
    background: white;
    margin-bottom: 1px;
}

input[name*= "ListViewInputControl"] {
    height: 32px !important;
}

a[name*= "Btn"] {
    width: var(--button-width) !important;
    height: var(--button-height) !important;
    border-radius: var(--button-border-radius) !important;
    border: 0px !important;
    font-size: var(--button-font-size);
}

.RuntimeEN a[name*= "Btn"]::before {
    content: "";
    background-image :var(--send-icon) ;
    width: var(--button-icon-size) !important;
    height: var(--button-icon-size) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
    transform: rotate(90deg);
}

.RuntimeAR a[name*= "Btn"]::before {
    content: "";
    background-image : var(--send-icon);
    width: var(--button-icon-size) !important;
    height: var(--button-icon-size) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 10px; 
}


div[name*= "ListViewTable"] .first {
    height: 38px !important;

}

div[name*= "ListViewTable"] .first a,
div[name*= "DisplayTable"] .first a{
    color: #0066cc;
    font-weight: 700;
    margin-top: 6px !important; 
    padding: 0px !important;
    padding-left: 5px !important;
    display: flex !important;
    align-items: center;
}

div[name*= "ListViewTable"] .first a::before,
div[name*= "DisplayTable"] .first a::before{
    margin-right: 5px !important;
}

div[name*= "ListViewTable"] .last .grid-content-cell-wrapper {
    text-align: center;
}

div[name*="ListViewTable"] a[name*="Delete"] .button-icon,
div[name*="ListViewTable"] a[name*="Add"] .button-icon {
    background-position: 20px !important;
    min-height: 0px !important;
}

/*Add margin between the icon and the word in arabic runtime in the list view*/
.RuntimeAR div[name*="ListViewTable"] .button-text{
    margin-right : 5px !important;
}

/*Change the DELETE icon*/
div[name*="ListViewTable"] a[name*="Delete"] .button-icon {
   content: var(--trash-icon);
    width: var(--icon-special-input-size);
    height: var(--icon-special-input-size);
}

/* Tables Header text styling*/
div[name*="ListViewTable"] .grid-column-headers .grid-column-header-text,
div[name*="DisplayTable"] .grid-column-headers .grid-column-header-text{
    color: white !important;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--input-font-size);
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1 !important;
}

/*Change the tables header background*/
.theme-entry .grid .grid-column-headers div,
.theme-entry .grid .grid-column-headers span {
    background: var(--table-header-background-color) !important;
}

span[name*= "labelInputContainerWrapper"] input {
    border: none !important;
}

/*.imgwrapper class added using script to wrap the input in a div and then add the  specific icon for each input */
.imgwrapper {
    display : flex !important ;
    width : 100% ;
    align-items : center ;
    border : .5px solid var(--card-border-input-color) ;
    border-radius: 8px;
    box-sizing : border-box !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
.imgwrapper img {
    margin : 0px 10px ;
}


span[name*= "OffenderName"] .picker-search {
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-position: -2px 10px;
    padding: 10px;
    margin: 0px 10px;
}

/*Disable the old search icon*/
span[name*= "OffenderName"] .picker-search span {
    opacity: 0;
}

/*Add a margin in the card have only a table and this table has add icon*/
div[name*= "CardListViewWithAdd"] .grid-header {
    margin-bottom: 17px;
}

.RuntimeAR.row:has([name*="Card"]) {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px !important;
    gap: 12px;
    padding: 0px !important;
}

.RuntimeAR.row:has([name*="Card"]) .innerpanel {
    margin: 0px !important
}

 
[name *= "Button"],
[name *= "Add"]{
    background: #7c1424 !important;
    border: 1px solid #7c1424 !important;
    height: var(--input-height) !important;
    border-radius: var(--button-border-radius);
}

[name*="Submit"] {
    background: #7c1424 !important;
    border: 1px solid #7c1424 !important;
}

[name *= "Cancel"] {
    background: white !important;
    border: 1px solid #7c1424 !important;
}

div[name*= "footer"] {
    background: var(--primary-bg-color) !important;
}

li:empty {
    display: none;
}
